src/main/resources/BookMyShow.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="bookMovieRequest">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="movieName" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="theatreName" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="noOfTickets" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="timing" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="location" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="bookMovieResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="bookingStatus" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="bookMovieIn">
		<wsdl:part name="parameters" element="tns:bookMovieRequest"/>
	</wsdl:message>
	<wsdl:message name="bookMovieOut">
		<wsdl:part name="parameters" element="tns:bookMovieResponse"/>
	</wsdl:message>
	<wsdl:portType name="bookMovie">
		<wsdl:operation name="bookMovie">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Movie ticket booking service</wsdl:documentation>
			<wsdl:input message="tns:bookMovieIn"/>
			<wsdl:output message="tns:bookMovieOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="bookMovie" type="tns:bookMovie">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="bookMovie">
			<soap:operation soapAction="http://tempuri.org/bookMovie" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TicketBooking">
		<wsdl:port name="bookMovie" binding="tns:bookMovie">
			<soap:address location="http://www.bookmyshow.com/bookMovies"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>